!!! 5
head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
  title <%= title %>
  link(rel='stylesheet', type='text/css', href='styles/main.css')

  body

    article

      section
        h1 <%= title %>
<% if (bullets) { %>
      section
        h2 Bullet List
        h3.bullet
          | Powered by 
          a(href='https://github.com/markdalgleish/bespoke-bullets') bespoke-bullets
        ul
          li Bullet 1
          li Bullet 2
          li Bullet 3

<% } %><% if (hash) { %>
      section(data-bespoke-hash='named-route')
        h2 Named Route
        h3.bullet
          | Powered by 
          a(href='https://github.com/markdalgleish/bespoke-hash') bespoke-hash
        p
          | Look up! This route has been named with a 
          em 'data-bespoke-hash' 
          | attribute.

<% } %><% if (state) { %>
      section(data-bespoke-state='emphatic')
        h2 Emphatic Slide!
        h3.bullet
          | Powered by 
          a(href='https://github.com/markdalgleish/bespoke-state') bespoke-state

<% } %>
      section
        h2.bullet Just the beginning...
        br
        ul
          li
            | Edit 
            a(href='http://jade-lang.com/') Jade 
            | markup in 
            em 'src/index.jade'
          li
            | Edit 
            a(href='http://learnboost.github.io/stylus/') Stylus 
            | styles in 
            em 'src/css/css.styl'
          li
            | Edit JavaScript in 
            em 'src/js/js.js'
        br
        ul
          li
            strong Enjoy! :) 
            a(href='http://twitter.com/markdalgleish') -@markdalgleish

<% _.each(bowerComponentPaths, function(path) { %>  script(src='bower_components/<%= path %>')
<% }) %>  script(src='scripts/main.js')