<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title><%= title %></title>
  <link rel="stylesheet" type="text/css" href="build/build.css">
</head>
<body>
<article class="deck">

  <section>
    <h1><%= title %></h1>
  </section>

  <section>
    <h2>Images</h2>
    <img src="images/bespoke-logo.jpg">
  </section>

  <section>
    <h2>Keyboard Interaction</h2>
    <h3>Powered by <a href="https://github.com/bespokejs/bespoke-keys">bespoke-keys</a></h3>
  </section>

  <section>
    <h2>Touch Interaction</h2>
    <h3>Powered by <a href="https://github.com/bespokejs/bespoke-touch">bespoke-touch</a></h3>
  </section>

  <section>
    <h2>Responsive Slides</h2>
    <h3>Powered by <a href="https://github.com/bespokejs/bespoke-scale">bespoke-scale</a></h3>
  </section>

  <section>
    <h2>Bullet List</h2>
    <h3>Powered by <a href="https://github.com/bespokejs/bespoke-bullets">bespoke-bullets</a></h3>
    <ul class="build build-items">
      <li>Bullet 1</li>
      <li>Bullet 2</li>
      <li>Bullet 3</li>
    </ul>
  </section>

<% if (usePluginMultimedia) { -%>
  <section>
    <iframe width="640" height="360" src="https://www.youtube.com/embed/AV3kYPutYfs?rel=0&amp;showinfo=0&amp;controls=0&amp;enablejsapi=1&amp;loop=1&amp;playlist=AV3kYPutYfs" frameborder="0" allowfullscreen data-volume="0"></iframe>
  </section>

<% } -%>
<% if (usePluginPrism) { -%>
  <section>
    <h2>Syntax Highlighting</h2>
    <h3>Powered by <a href="https://twitter.com/LeaVerou">Lea Verou</a>'s <a href="https://github.com/PrismJS/prism">Prism</a></h3>
    <pre><code class="language-javascript">
(function() {
  function hanoi(n, a, b, c) {
    return n ? hanoi(n - 1, a, c, b)
        .concat([[a, b]])
        .concat(hanoi(n - 1, c, b, a)) : [];
  }
  return hanoi(3, 'left', 'right', 'mid')
    .map(function(d) {
      return d[0] + ' -&gt; ' + d[1];
    });
})();</code></pre>
  </section>

<% } -%>
  <section data-bespoke-hash="named-route">
    <h2>Named Route</h2>
    <h3>Powered by <a href="https://github.com/bespokejs/bespoke-hash">bespoke-hash</a></h3>
    <p>Look up! This route has been named with a <em>data-bespoke-hash</em> attribute.</p>
  </section>

  <section>
    <h2>Just the beginning…</h2><br>
    <ul class="build build-items">
      <li>Edit HTML markup in <em class="path">src/index.html</em></li>
      <li>Edit <a href="http://stylus-lang.com">Stylus</a> styles in <em class="path">src/styles/user.styl</em></li>
      <li>Edit JavaScript in <em class="path">src/scripts/main.js</em></li>
    </ul>
    <br>
    <ul class="build">
      <li><strong>Enjoy! :)</strong><a href="https://twitter.com/markdalgleish"> -@markdalgleish</a></li>
    </ul>
  </section>
</article>

<script src="build/build.js"></script>

</body>
</html>
