<% if (syntax) { %>// Import CSS from "bower_components"
// thanks to Stylus' "import css" and "paths" options
@import 'prism/themes/prism-okaidia.css'
// Check out "bower_components/prism/themes/" for available themes

<% } %>// New to Stylus? Check out http://learnboost.github.io/stylus
// Use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer